
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px hsl(0deg 0% 67%);
    border-radius: 50px
}

::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: hsl(0deg 0% 67%);
    opacity: 1
}


* {
	-webkit-tap-highlight-color: transparent;
}


#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    left: 0;
    top: 0;
    display: block;
    z-index: 200;
}

.lds-ring {
	position: relative;
    width: 80px;
    height: 80px;
    text-align: center;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 4px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #3ebafb transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
	font-family: "Open Sans", sans-serif;
	margin: 0;
	padding-top: 70px;
}

h1 {
    margin-bottom: 30px;
}
img {
    vertical-align: top;
    max-width: 100%;
    max-height: 100%;
}
#container {
    padding: 5%;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.icon-container {
	display: none;
}
.icon {
    width: 66px;
    display: inline-block;
    height: 66px;
    padding: 5px;
    vertical-align: top;
}
.food {
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 10px 10px #f1f1f1;
    padding: 20px 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    position: relative;
}
.food-side {
    display: inline-block;
    margin-left: 10px;
    margin-top: 8px;
    max-width: 70%;
}
.food-rating {
    margin-left: -2px;
}
.food-name {
    /* display: inline-block; */
    font-size: 20px;
    /* margin-left: 10px; */
}
.food-edit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: .4;
    width: 40px;
    right: 15px;
}
.selected-date {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}
[data-star] {
	font-size: 30px;
	font-style: normal;
	display: inline-block;
	position: relative;
	unicode-bidi: bidi-override;
}

[data-star]::before {
	display: block;
	content: '★★★★★';
	color: #ddd;
}

[data-star]::after {
	position: absolute;
	top: 0;
	content: '★★★★★';
	width: 0;
	color: #ffbc00;
	overflow: hidden;
	height: 100%;
	display: flex;
}

[data-star^="0.1"]::after,[data-star^=".1"]::after {
	width: 2%;
}

[data-star^="1"]::after {
	width: 20%;
}


[data-star^="2"]::after {
	width: 40%;
}


[data-star^="3"]::after {
	width: 60%;
}
[data-star^="4"]::after {
	width: 80%;
}


[data-star^="5"]::after {
	width: 100%;
}

.date {
    width: 16.66666666667%;
    display: inline-block;
    text-align: center;
}

.date span {
    display: block;
}

#mini-calender {
    margin-bottom: 40px;
}


.date-wrap {
    margin: 0 5px;
    border-radius: 5px;
}

.today .date-wrap {
    color: white;
    background-color: #004eff;
    padding: 1px;
}


