
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px hsl(0deg 0% 67%);
    border-radius: 50px
}

::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: hsl(0deg 0% 67%);
    opacity: 1
}


* {
	-webkit-tap-highlight-color: transparent;
}


#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    left: 0;
    top: 0;
    display: block;
    z-index: 200;
}

.lds-ring {
	position: relative;
    width: 80px;
    height: 80px;
    text-align: center;
    margin: 0 auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 4px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #ffaed4 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
	font-family: "Lato", sans-serif;
	margin: 0;
	padding-top: 70px;
	color: #5f478c;
	background-color: #fefeff;
	background-image: url(../images/shine-girl-with-a-jug-of-juice-and-a-pie.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 122px 10px;
	background-size: 270px;
}

h1 {
    margin-bottom: 50px;
    font-size: 29px;
}
img {
    vertical-align: top;
    max-width: 100%;
    max-height: 100%;
    /* filter: hue-rotate(336deg); */
}
#container {
    padding: 5%;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.icon-container {
	display: none;
}
.icon {
    width: 45px;
    display: inline-block;
    height: 45px;
    padding: 5px;
    vertical-align: top;
}
.food {
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 5px 8px 2px #f7f7f7;
    padding: 20px 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
    position: relative;
    /* border: 1px solid #f1f1f1; */
}
.food-side {
    display: inline-block;
    margin-left: 10px;
    margin-top: 8px;
    max-width: 70%;
}
.food-rating {
    margin-left: -2px;
    line-height: 1;
}
.food-name {
    /* display: inline-block; */
    font-size: 19px;
    /* margin-left: 10px; */
    line-height: 1;
    margin-bottom: 5px;
    font-weight: bold;
}
.food-edit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    right: 15px;
    color: #5f478c;
	text-align: center;
}

.food-edit span {
	font-size: 35px;
}
.selected-date {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}
[data-star] {
	font-size: 25px;
	font-style: normal;
	display: inline-block;
	position: relative;
	unicode-bidi: bidi-override;
}

[data-star]::before {
	display: block;
	content: '★★★★★';
	color: #ddd;
}

[data-star]::after {
	position: absolute;
	top: 0;
	content: '★★★★★';
	width: 0;
	color: #ffbc00;
	overflow: hidden;
	height: 100%;
	display: flex;
}

[data-star^="0.1"]::after,[data-star^=".1"]::after {
	width: 2%;
}

[data-star^="1"]::after {
	width: 20%;
}


[data-star^="2"]::after {
	width: 40%;
}


[data-star^="3"]::after {
	width: 60%;
}
[data-star^="4"]::after {
	width: 80%;
}
@keyframes fadeInUp {
    from {
        transform: translate3d(0,10px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,10px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}



[data-star^="5"]::after {
	width: 100%;
	/* color: #ffd376; */
}

.today span.day { 
	color: #5f478c;
}
.today.date span.week,
.active.date span.week {
    color: white;
}
.today span.day,
.active span.day {
    background-color: white;
}
.date {
    width: 14.28%;
    display: inline-block;
    text-align: center;
}

.date span {
    display: block;
    font-size: 14px;
    font-weight: 600;
    /* margin-left: -6px; */
    height: 30px;
    line-height: 30px;
}
span.day {
    font-weight: bold;
    font-size: 18px;
    /* margin-left: -21px; */
    border-radius: 50px;
}

#mini-calender {
    margin-bottom: 40px;
    background-color: #ffffffd1;
    padding: 5px 0;
}

.food-by-date:not(.active) {
	display:none;
}
.food-by-date {
	animation: fadeInUp .2s both;
	
}

.food-by-date.prev .food-list:not(.empty) {
	opacity: 0.5;
}
.food-list.empty {
	text-align: center;
	font-size: 18px;
}



.date-wrap {
    margin: 0 5px;
    border-radius: 45px;	
	padding: 4px;
}

.date.today .date-wrap {
    background-color: #64d4ff;    
}
.date.active .date-wrap {
    background-color: #ffaed4;    
	box-shadow: 0 5px 11px 0px #ffaed454
}
.date-wrap span,
.date-wrap {
	-webkit-transition: background .3s, color .3s, box-shadow .3s;
	transition: background .3s, color .3s, box-shadow .3s;
}


